*.pyc
__pycache__
.ipynb_checkpoints/
*.lyx~
*.lyx#
*.lyx.emergency
*.Rhistory
*.Rapp.history
*Rplots.pdf
*.DS_Store
Desktop.ini
*.svn
.svn
*.swp
tags
*.swo
~$*.docx
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ind
*.ist
*.lof
*.lot
*.nav
*.out
*.snm
*.toc
*.tt
*.ttt
*.brf
*.fff
*.synctex*
*.bak

# No pdf
*.pdf

*.log
*temp*

# The following are qsub output files
*.po[0-9]*
*.o[0-9]*


*.pytest_cache
.coverage
*.coveragerc
*.egg*
.cache
*sphinx/build/

.vscode
.Rhistory
.RData
.Rproj.user
